<div>
    <h2>Audits</h2>

    <div class="row">
        <div class="col-md-5">
            <h4>Filter by date</h4>

            <p class="input-group">
                <span class="input-group-addon">from</span>
                <input type="date" class="input-sm form-control" name="start" ng-model="fromDate"
                       ng-change="onChangeDate()" required/>
                <span class="input-group-addon">to</span>
                <input type="date" class="input-sm form-control" name="end" ng-model="toDate"
                       ng-change="onChangeDate()"
                       required/>
            </p>
        </div>
    </div>


    <table class="table table-condensed table-striped table-bordered table-responsive">
        <thead>
        <tr>
            <th ng-click="predicate = 'timestamp'; reverse=!reverse">Date</th>
            <th ng-click="predicate = 'principal'; reverse=!reverse">User
            </th>
            <th ng-click="predicate = 'type'; reverse=!reverse">State</th>
            <th ng-click="predicate = 'data.message'; reverse=!reverse">Extra Data</th>
        </tr>
        </thead>

        <tr ng-repeat="audit in audits | filter:filter | orderBy:predicate:reverse"
            ng-hide="audit.filtered">
            <td><span>{{audit.timestamp| date:'medium'}}</span></td>
            <td>
                <small>{{audit.principal}}</small>
            </td>
            <td>{{audit.type}}</td>
            <td>
                <span ng-cloak ng-show="audit.data.message">{{audit.data.message}}</span>
                <span ng-cloak ng-show="audit.data.remoteAddress">Remote address {{audit.data.remoteAddress}}</span>
            </td>
        </tr>
    </table>
</div>
