<div>

    <h1>My Devices</h1>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="device in devices" class="animate">
                <td>{{device.id}}</td>
                <td>{{device.description}}</td>
                <td>
                    <a href="#/device/{{device.id}}" class="btn btn-primary">
                        <span class="ion-eye"></span> View
                    </a>
                    <a ng-click="openEditDeviceModal(device.id)"
                       class="btn btn-warning">
                        <span class="ion-edit"></span> Edit
                    </a>
                    <a ng-click="openOwnersDeviceModal(device.id)" class="btn btn-info">
                        <span class="ion-android-share-alt"></span> Share
                    </a>
                    <a ng-click="delete(device.id)"
                       class="btn btn-danger">
                        <span class="ion-trash-b"></span> Delete
                    </a>
                </td>
            </tr>
            <tr ng-cloak ng-show="isEmpty(devices)">
                <td colspan="3">No devices found.</td>
            </tr>
            </tbody>
        </table>
    </div>

    <button class="btn btn-primary btn-lg" ng-click="openAddDeviceModal()">
        <span class="ion-android-add-circle"></span> Add a new Device
    </button>
</div>
