#loading-bar .bar {
    background: #f0ad4e;
    height: 3px;
}

/* Fancy blur effect */
#loading-bar .peg {
  -moz-box-shadow: #f0ad4e 1px 0 6px 1px;
  -ms-box-shadow: #f0ad4e 1px 0 6px 1px;
  -webkit-box-shadow: #f0ad4e 1px 0 6px 1px;
  box-shadow: #f0ad4e 1px 0 6px 1px;
}

#loading-bar-spinner .spinner-icon {
    border-top-color:  #f0ad4e;
  border-left-color: #f0ad4e;
}
